{! First, insert the base template as a partial !}
{>"layouts/master" /}

{! Исправляю дефолтный тайтл из base template !}
{<title}{title}{/title}

<div class="container" id="container">
    <h1>Button</h1>
    <div id="react-button" style="margin-top: 60px;">
        {react|s}
    </div>
    <div style="margin-top: 30px;">
        <a href="/">Вернуться на главную</a>
    </div>
</div>
