{! First, insert the base template as a partial !}
{>"layouts/master" /}

{! Исправляю дефолтный тайтл из base template !}
{<title}{title}{/title}

<div class="container" id="container">
    <h1>Ошибка авторизации</h1>
    <div id="" style="margin-top: 60px;">
        <p>Вы ввели неверный логин или пароль.</p>
        <p>login: admin; password: admin</p>
    </div>
    <div style="margin-top: 30px;">
        <div><a href="/login">Вернуться на страницу логина</a></div>
        <div><a href="/">Вернуться на главную</a></div>
    </div>
</div>
