.post {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px -3px #aaa;
    background-color: #fff;
}

body {
    background-color: #F4F4F4;
}
